* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/**Navbar design**/

.navbar-collapse {
  display: flex;
  justify-content: center;
}

.nav-brand img {
  width: 100%;
  height: auto;
}

.nav-brand {
  width: 1.2em;
}

.collapsing-brand {
  display: none;
}

.nav-item {
  margin-right: 2.5em;
  font-size: 20px;
}

.navbar-nav:first-child {
  margin-left: 2em;
}

.navShopIcon {
  width: 1.4%;
}

@media (max-width: 1399px) {
  .navbar {
    position: relative;
  }

  .navbar-collapse {
    justify-content: left;
    margin: 0 5% 0 5%;
  }

  .navbar-brand {
    display: none;
  }

  .collapsing-brand {
    display: block;
    position: absolute;
    top: 0;
    margin-top: 0.5em;
    left: 50%;
    transform: translateX(-50%);
  }

  .searchIcon,
  .shopIcon {
    display: none;
  }

  .navbar-nav {
    width: 100%;
  }

  .nav-item {
    margin-bottom: 5%;
  }

  .nav-item::after {
    content: " ";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
  }
}

/**Advertisement Design**/

.help-to-buy {
  text-align: center;
  background-color: #f5f5f7;
  padding: 0.2% 0 0.2% 0;
}

.help-to-buy p {
  font-size: 20px;
}

.help-to-buy a {
  text-decoration: none;
  color: #0094ec;
}

.help-to-buy a:hover {
  text-decoration: underline;
}

/* Product section design*/

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.iphone13Section {
  background-color: #35283c;
}

.productImg {
  width: 100%;
  max-height: 600px;
  max-width: 1000px;
}
.productSection {
  padding-left: 5%;
  padding-right: 5%;
}

.watchSection {
  background-color: #fafafa;
}

.productTitle {
  margin-top: 2%;
  font-size: 40px;
  font-weight: 600;
}

.iphone13Title {
  color: white;
}

.iphoneSubtitle {
  font-size: 20px;
}

.iphone13Subtitle {
  color: #fec2eb;
}

.watchSubtitle {
  color: #cc2127;
}

.watchSubtitle2 {
  color: black;
  margin-bottom: 2%;
}

.watchDate {
  color: grey;
}

.productTitleWatchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.productTitleWatchDiv {
  margin-top: 2%;
}

.watchTitle {
  margin: 0;
}

.appleLogoWatch {
  width: 2em;
  margin-right: 2%;
}

.productLink {
  font-size: 20px;
  padding-top: 0.5%;
}

.productLink a {
  color: #0094ec;
  text-decoration: none;
  margin-left: 1%;
  margin-right: 1%;
}

.productLink a::after {
  content: " >";
}
